 .services{
 	width: 100%;
 	height: 630px;
 	background-image: url(../images/notebook.png);
 	background-repeat: no-repeat;
 	background-position-x: -300px;
 	position: relative;
 }

 .services-block{
 	position: absolute;
 	right: 10%;
 	width: 700px;
 }

 .title-box{
 	width: 614px;
 	margin-bottom: 100px;
 }

 .title{
 	font-size: 34px;
 	line-height: 24px;
 	color: #303842;
 	margin-bottom: 20px;
 	font-weight: 300;
 }

 .subtitle{
 	font-size: 14px;
 	line-height: 24px;
 	color: #8191a6;
 }

 .services-items{
 	display: flex;
 	justify-content: space-between;
 	margin-bottom: 70px;
 	width: 400px;
 }

 .services-icon{
 	align-self: flex-start;
 }

 .services-item{
 	display: flex;
 	width: 340px;
 }

.item-text-block{
	border-left: 2px solid #f1f1f1;
	margin-left: 25px;
	padding-left: 25px;
	width: 270px;
}

.item-text-block p{
	color: rgba(0,0,0, .5);
	font-size: 14px;
}

.item-text-block h3{
	font-size: 18px;
	margin: 0;
}

.img-wrap{
	width: 40px;
}

/*@media(max-width: 1812px){
	.services-block{
		right: 10%;
	}
}

@media(max-width: 1566px){
	.services-block{
		right: 0;
	}
}*/


@media(max-width: 1631px){
	.services-block{
		right: 5%;
	}
}

@media(max-width: 1517px){
	.services-block{
		right: 0%;
	}
}

@media(max-width: 1425px){
	.services{
		background-size:75%;
	}
}

@media(max-width: 1284px){
	.services{
		background-size:70%;
	}
}

@media(max-width: 1225px){
	.services{
		background-image: none;
	}
	.services-block{
		position: relative;
		margin: 0 auto;
	}
}